*
{
  box-sizing: border-box;
}
.dummy-card
{
  background-color: #bbe1fa; /* Blue color entire clock */
  width : 100vw;/* hundredths of the viewport width*/
  height : 100vh;/*hundredths of the viewport height*/
  display : flex;
  justify-content: center; /* Everything[content] goes to center */
  align-items: center; /*To the center of the page*/
}

.clock
{
  position:relative;
  width : 200px;
  height : 200px;
  display: flex;
  justify-content: center;
  align-items:center;
  background:#fff;/*inner white*/
  border-radius: 50%;/*make clock round from square*/
  border:20px solid #fff;/*Outer ring border*/
  box-shadow:inset 0 0 30px rgba(0, 0, 0, 0.1),/*inside black*/
                   0 0 20px rgba(0,0,0,0.2),/*Complete outer*/
                   0 0 0 4px rgba(255,255,255,1),/*Complete outer*/
}

.clock::before
{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #848484; /*clock center dot*/
  border : 2px solid #fff;
  z-index : 100000; /*behind dot*/
  border-radius : 50%;
}

.sec-hand
{
  background: #ff6767;
  width: 1px;/*Thickness line*/
  height : 50%;/*height of sec hand*/
  transform-origin : 50% 50%;/*Default value*/ /*https://www.w3schools.com/cssref/trycss3_transform-origin_inuse.htm website help*/
  position : absolute; /*does center*/
  top : 10%;
  left : 50%;
  border-radius : 100% 100% 0 0;
}

.min-hand
{
  background : #d6d6d6; 
  width : 3px;
  height : 40%;
  transform-origin : 50% 50%;
  position : absolute; /*again does center*/
  top : 10%; /*line go up dot*/
  left : calc(50% - 1px);
  border-radius : 100% 100% 0 0;
}

hr-hand
{
  background : #848484;
  width : 5px;
  height : 25%;
  position : absolute;
  transform-origin : 50% 50%;
  top : 30%;
  left : calc(50% - 2px);
  border-radius : 100% 100% 0 0;
}

.num
{
  height : 100%; /*goes completely to the top*/
  position: absolute;
  left : calc(50% - 0.5em)
}

.num div
{
  color : rgb(133,131,131);/*grey color font*/
  width : 1em;
  line-height: 2em;
  text-align : center; /*all fonts together at center top*/
  vertical-align: middle;
}

.num1
{
  transform : rotate(30deg); /*position proper but not aligned*/
}

.num1 div
{
  transform : rotate(-30deg); /*perfect aligned + postion*/
}

.num2
{
  transform : rotate(60deg);
}


.num2 div
{
  transform : rotate(-60deg);
}


.num3
{
  transform : rotate(90deg);
}


.num3 div
{
  transform : rotate(-90deg);
}


.num4
{
  transform : rotate(120deg);
}


.num4 div
{
  transform : rotate(-120deg);
}


.num5
{
  transform : rotate(150deg);
}


.num5 div
{
  transform : rotate(-150deg);
}


.num6
{
  transform : rotate(180deg);
}


.num6 div
{
  transform : rotate(-180deg);
}


.num7
{
  transform : rotate(210deg);
}


.num7 div
{
  transform : rotate(-210deg);
}


.num8
{
  transform : rotate(240deg);
}


.num8 div
{
  transform : rotate(-240deg);
}


.num9
{
  transform : rotate(270deg);
}


.num9 div
{
  transform : rotate(-270deg);
}


.num10
{
  transform : rotate(300deg);
}


.num10 div
{
  transform : rotate(-300deg);
}


.num11
{
  transform : rotate(330deg);
}


.num11 div
{
  transform : rotate(-330deg);
}


.num12
{
  transform : rotate(0deg);
}


.num12 div
{
  transform : rotate(-0deg);
}