*
{
  box-sizing: border-box;
}
.dummy-card
{
  background-color: #bbe1fa; /* Blue color entire clock */
  width : 100vw;/* hundredths of the viewport width*/
  height : 100vh;/*hundredths of the viewport height*/
  display : flex;
  justify-content: center; /* Everything[content] goes to center */
  align-items: center; /*To the center of the page*/
}

.clock
{
  position:relative;
  width : 200px;
  height : 200px;
  display: flex;
  justify-content: center;
  align-items:center;
  background:#fff;/*inner white*/
  border-radius: 50%;/*make clock round from square*/
  border:20px solid #fff;/*Outer ring border*/
  box-shadow:inset 0 0 30px rgba(0, 0, 0, 0.1),/*inside black*/
                   0 0 20px rgba(0,0,0,0.2),/*Complete outer*/
                   0 0 0 4px rgba(255,255,255,1),/*Complete outer*/
}

.clock::before
{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #848484; /*clock center dot*/
  border : 2px solid #fff;
  z-index : 100000; /*behind dot*/
  border-radius : 50%;
}

.sec-hand
{
  background: #ff6767;
  width: 1px;/*Thickness line*/
  height : 50%;/*height of sec hand*/
  transform-origin : 50% 50%;/*Default value*/ /*https://www.w3schools.com/cssref/trycss3_transform-origin_inuse.htm website help*/
  position : absolute; /*does center*/
  top : 10%;
  left : 50%;
  border-radius : 100% 100% 0 0;
}

.min-hand
{
  background : #d6d6d6; 
  width : 3px;
  height : 40%;
  transform-origin : 50% 50%;
  position : absolute; /*again does center*/
  top : 10%; /*line go up dot*/
  left : 
}